Nota: Existen varias librerias que estan en el pip freeze pero que no son necesarias para correr estos scripts (Como numpy, torch h5py y matplolib) 
Esto se debe a que trabaje en el ambiente donde tambien ejecuto mis proyectos de redes neuronales. 

aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.1
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.9
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
frozenlist==1.2.0
h5py @ file:///C:/ci/h5py_1637139016022/work
idna==3.3
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
kiwisolver @ file:///D:/bld/kiwisolver_1635836839743/work
matplotlib @ file:///D:/bld/matplotlib-suite_1636786773004/work
meraki==1.15.0
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
multidict==5.2.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1634106873763/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
Pillow @ file:///D:/bld/pillow_1636558975346/work
pprintpp==0.4.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyreadline==2.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
requests==2.26.0
scikit-learn @ file:///C:/ci/scikit-learn_1635188126022/work
scipy @ file:///C:/ci/scipy_1630606942584/work
six==1.15.0
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
torch==1.10.0
tornado @ file:///D:/bld/tornado_1635819758615/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
urllib3==1.26.7
wincertstore==0.2
xmltodict==0.12.0
yarl==1.7.2